---
import MainLayout from "@/layouts/MainLayout.astro";
---


<!--- In this code fence astro only perform a static render server side -->

<MainLayout title="About">
  <h1>This is the About page</h1>
</MainLayout>