---

---
<div class="bg-slate-100 p-5">
  <nav class="flex gap-x-6">
    <a href="/">Home Page</a>
    <a href="/about">About Page</a>
    <a href="/contact">Contact Page</a>
  </nav>
</div>

