---
import MainLayout from "@/layouts/MainLayout.astro";

const title = 'Pokemon static | Home'
---

<MainLayout title={title}>
	<h1 class="text-3xl font-extrabold  mb-5">Wellcome from home</h1>
</MainLayout>
